header {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
		sans-serif;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

header > div {
	/* flex: 1 1 33.3%; */
	border: 1px solid blue;

	text-align: center;
	justify-content: center;
}

.nav-link {
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}

header select {
	display: inline-block;
}

header h1 {
	margin: 0;
	font-size: 4vmin;
	cursor: pointer;
}
