:root {
	--header-height: calc(32px + 6vmin);
}

/* Needed as gradient background doesn't render outside of doc body when header is at 300% width, so all but first section end up white when moved back into viw */
.header-bg {
	position: absolute;
	height: var(--header-height);
	width: 100%;
}

/* --------------------- Header -------------------- 
   Mobile: width = 300%, shifted left/right with JS  */

header {
	position: relative;
	height: var(--header-height);
	display: grid;
	grid-template-columns: 100% 100% 100%;
	transition: transform 300ms;
}

header:not(.screen-is-wide) {
	transform: translateX(-100%);
}

header:not(.screen-is-wide)[data-position="left"] {
	transform: translateX(0);
}

header:not(.screen-is-wide)[data-position="right"] {
	transform: translateX(-200%);
}

/* --------------- Column --------------- 
   Horizontal distribution of sections; 
   Width determined by JS                */

.header-col {
	height: var(--header-height);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	overflow-x: visible;
}

header.screen-is-wide .header-col {
	justify-content: center;
}

/* -------------------- Section --------------------- 
Horizontal padding & horizontally scrolled content
(if wrapped in .header-section-wrapper)            */

.header-section-wrapper {
	overflow-y: hidden;
	overflow-x: scroll;
	/* Hide horizontal scroll bar below header's bottom edge */
	height: 200px;
	height: calc(var(--header-height) + 50px);
}

.header-section {
	height: var(--header-height);
	display: flex;
	flex-flow: row nowrap;

	padding: 0 16px;
}

/* Button sections only visible in mobile view */
header.screen-is-wide .mobile-only {
	display: none;
}

/* ------------------------ Bar ------------------------
   A horizontally-scrollable section that contains tiles */

.header-col-left .header-bar {
	justify-content: flex-start;
}
.header-col-middle .header-bar {
	justify-content: center;
}

.header-col-right .header-bar {
	/* flex-end breaks horizontal scroll
	TODO: scroll to end in JS */
	justify-content: flex-start;
}

/* ---------- Tile ------------
   Vertically centered content  */

.header-tile {
	display: inline-block;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

/* --------------- Headline --------------- */

/* In full-width view, hide Site Name */
header.show-project-name .headline-catalog-name {
	display: none;
}

/* In split-width view, hide Project Name */
header:not(.show-project-name) .headline-project-name {
	display: none;
}

.headline {
	text-align: center;
}
