:root {
	/* set with JS */
	--custom-width: 400px;
}

#main-content,
.page {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* overflow: hidden; */
}

/* fallback message 'Loading content...' */
#main-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page {
	opacity: 1;
	transition: opacity 400ms;
}

/* transition away from top of page stack */
.page.closing {
	opacity: 0;
}

.page.disabled {
	/* ISSUE with `display: none`:
	When frame loads before page gets enabled, script using 'width = window.innerWidth' produces width == 0 */
	visibility: hidden;
}

/*******************************************
                .page content
 *******************************************/

/* ----- Split-view (desktop only) ----- */

.page {
	display: flex;
	flex-flow: row nowrap;
}

.project,
.panel {
	flex: 0 0 50%;
}

.project {
	position: relative;
}

iframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* overflow: hidden; */
}

.panel {
	overflow: hidden;

	/* Panel toggle */
	opacity: 1;
	transition: transform 300ms;

	/* Panel hover */
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

/* ----- Custom-width view (desktop only) ----- */

body.custom-width .project {
	flex: 0 0 var(--custom-width);
}

body.custom-width .panel {
	flex: 1 0 0;
}

/* ----- Full-width view (desktop / mobile) ----- */

body.full-width .project,
body.full-width .panel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* overflow: hidden; */
}

/* Toggle panel on header click */

body.full-width iframe {
	z-index: 0;
}

body.full-width .panel {
	z-index: -1;
	/* opacity: 0; */
	transform: translateY(-100%);
}

body.full-width .panel.on-top {
	z-index: 1;
}
body.full-width .panel.visible {
	/* opacity: 1; */
	transform: translateY(0);
}

/*******************************************
                PANEL CONTENT
 *******************************************/

/* Toggle details on panel hover (split-width) and toggle (full-width) */

.panel > div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	transition: all 250ms;
}

/* hover */

.panel-title {
	flex: 1 0 100%;
}

.panel.hover .panel-title {
	flex: 1 1 auto;
}

.panel-p {
	height: 0;
	flex: 0 1 auto;
}

.panel.hover .panel-p {
	flex: 2 1 auto;
}

/* slide-in */

.panel .slide-in-right {
	transform: translateX(-100%);
	opacity: 0;
}

.panel .slide-in-left {
	transform: translateX(100%);
	opacity: 0;
}

.panel.expanded .slide-in-right,
.panel.expanded .slide-in-left {
	transform: translateX(0);
	opacity: 1;
}
