#main-content,
.page,
.page.full-width iframe,
.page.full-width .panel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* overflow: hidden; */
}

.page {
	display: flex;
	flex-flow: row nowrap;

	opacity: 1;
	transition: opacity 400ms;

	/* in case iframe has transparent bg */
	background-color: white;
}

/* transition away from top of page stack */
.page.closing {
	opacity: 0;
}

.page.disabled {
	/* ISSUE with `display: none`:
	When frame loads before page gets enabled, script using 'width = window.innerWidth' produces width == 0 */
	visibility: hidden;
}

/*******************************************
                   PANEL
 *******************************************/

.panel {
	flex: 1 1 auto;
	overflow: hidden;

	/* Panel toggle */
	opacity: 1;
	transition: opacity 300ms;

	/* Panel hover */
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

/* Toggle panel on header click (full-width only) */

.page.full-width iframe {
	z-index: 0;
}

.page.full-width .panel {
	z-index: -1;
	opacity: 0;
}

.page.full-width .panel.on-top {
	z-index: 1;
}
.page.full-width .panel.visible {
	opacity: 1;
}

/* Toggle details on panel hover (split-width) and toggle (full-width) */

.panel > div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	transition: all 250ms;
}

.panel .title {
	flex: 1 0 100%;
}

.panel .description,
.panel .tags {
	height: 0;
	flex: 0 1 auto;
	opacity: 0;
}

.panel .description {
	transform: translateX(-100%);
}

.panel .tags {
	transform: translateX(100%);
}

.panel.hover .title {
	flex: 1 1 auto;
}

.panel.hover .description,
.panel.hover .tags {
	flex: 2 1 auto;
}

.panel.expanded .description,
.panel.expanded .tags {
	opacity: 1;
	transform: translateX(0);
}

/*******************************************
                PANEL CONTENT
 *******************************************/

.panel h1 {
	font-size: 3em;
}

.panel p {
	font-size: 1.5em;
}
