:root {
	/* set with JS */
	--custom-width: 400px;
}

#main-content,
.page {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* overflow: hidden; */
}

/* fallback message 'Loading content...' */
#main-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page {
	opacity: 1;
	transition: opacity 400ms;
}

/* transition away from top of page stack */
.page.closing {
	opacity: 0;
}

.page.disabled {
	/* ISSUE with `display: none`:
	When frame loads before page gets enabled, script using 'width = window.innerWidth' produces width == 0 */
	visibility: hidden;
}

/*******************************************
                .page content
 *******************************************/

/* ----- Split-view (desktop only) ----- */

.page {
	display: flex;
	flex-flow: row nowrap;
}

.project,
.panel {
	flex: 0 0 50%;
}

.project {
	position: relative;
}

iframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* overflow: hidden; */
}

.panel {
	position: relative;
	overflow: hidden;
	opacity: 1;
	transition: transform 300ms;
}

/* ----- Custom-width view (desktop only) ----- */

body.custom-width .project {
	flex: 0 0 var(--custom-width);
}

body.custom-width .panel {
	flex: 1 0 0;
}

/* ----- Full-width view (desktop / mobile) ----- */

body.full-width .project,
body.full-width .panel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* overflow: hidden; */
}

/* Toggle panel on header click */

body.full-width iframe {
	z-index: 0;
}

body.full-width .panel {
	z-index: -1;
	/* opacity: 0; */
	transform: translateY(-100%);
}

body.full-width .panel.on-top {
	z-index: 1;
}
body.full-width .panel.visible {
	/* opacity: 1; */
	transform: translateY(0);
}
