:root {
	/* colors */
	--bg-main: #e7e7e7;
	--bg-shade: #bbb;
	--shine: rgba(255, 255, 255, 1);
	--shade: rgba(0, 0, 0, 0.2);

	/* gradient */
	--bg-gradient: linear-gradient(var(--bg-main), var(--bg-main), #888);

	/* small shadows */
	--btn-out: inset 1px 1px 1px 0 var(--shine),
		inset -1px -1px 1px 0 var(--shade);
	--btn-in: inset 1px 1px 1px 0 var(--shade), inset -1px -1px 1px 0 var(--shine);

	/* big shadows */
	--bulge: 6px 0 6px 0 var(--shade), -6px 0 6px 0 var(--shine),
		inset -6px 0 6px 0 var(--shade), inset 6px 0 6px 0 var(--shine);
	--dent: 6px 0 6px 0 var(--shine), -6px 0 6px 0 var(--shade),
		inset -6px 0 6px 0 var(--shine), inset 6px 0 6px 0 var(--shade);
}

body {
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.bulge {
	cursor: pointer;
	border: none;
	padding: 10px 10px;
	box-shadow: var(--bulge);
	text-shadow: 1px 0px 2px var(--shine), -1px 0px 2px var(--shade);
}

.bulge:active {
	outline: none;
	box-shadow: var(--dent);
	transform: scale(0.9);
}

.bulge:focus {
	outline: none;
}

/*******************************************
                  Header
 *******************************************/

.header-bg {
	background: var(--bg-main);
	background: var(--bg-gradient);
	box-shadow: inset 0 -4px 4px 0 var(--shade);
}

/* --------------- Header button --------------- */

.header-btn {
	border-radius: 50%;
}

.header-btn img {
	height: calc(16px + 2vmin);
	border-radius: 50%;
}

/* --------------- Main bar --------------- */

@media (min-width: 800px) {
	/* side-col buttons appear to merge into middle col when scrolled-x */
	.header-col-middle {
		box-shadow: var(--bulge);
		border-radius: 6px / calc(var(--header-height) / 2);
		/* hide weird glare on bottom edge */
		height: calc(var(--header-height) - 2px);
	}
}

.headline h1 {
	padding: 12px 20px;
	border-radius: 100px;

	font-size: calc(6px + 2vmin);
	font-weight: 500;

	color: #333;
	text-shadow: 1px 0px 2px var(--shine), -1px 0px 2px var(--shade);
}

/* --------------- Nav bar --------------- */

.nav-btn {
	border: none;
	border-radius: 4px;
	box-shadow: var(--btn-out);

	margin: 0 6px;
	padding: 12px calc(12px + 0.5vmin);
	font-size: calc(14px + 0.5vmin);

	color: #555;

	/* trying */
	border-radius: 100px;
	box-shadow: var(--bulge);
}

.nav-btn:hover {
	color: black;
	text-decoration: underline;
}

.nav-btn:active {
	border: none;
	box-shadow: var(--btn-in);
	background-color: rgba(0, 0, 0, 0.01);
	transform: scale(0.98);

	/* trying */
	box-shadow: var(--dent);
	transform: scale(0.95);
}
.nav-btn:focus {
	outline: none;
	background-color: rgba(0, 0, 0, 0.01);
}

.nav-btn[data-catalog=""],
.nav-btn[data-catalog=""]:hover {
	color: #969696;
	text-decoration: none;
	pointer-events: none;
}

/* --------------- Options bar --------------- */

.options-bar label {
	font-family: Gruppo, Arial;
	margin: 0 12px;
	padding: 6px 12px;
	border-radius: 100px;
	background: white;
	box-shadow: 0 0 6px white;
}

header select {
	display: inline-block;
	margin: 0 calc(8px + 0.5vmin);
	font-size: 16px;
}

select option:checked {
	font-weight: bold;
}

/*******************************************
                Main Content
 *******************************************/

.page {
	background-color: white;
}

.description {
	color: white;
	text-shadow: 0 0 60px white, 0 0 4px black;
	background-color: black;
}

.description h1 {
	font-size: 3em;
	font-weight: 400;
}

.description p {
	font-size: 1.5em;
}
