:root {
	/* colors */
	--bg-main: #eee;
	--bg-shade: #bbb;
	--shine: rgba(255, 255, 255, 0.5);
	--shade: rgba(0, 0, 0, 0.2);

	/* small shadows */
	--btn-out: inset 1px 1px 1px 0 var(--shine),
		inset -1px -1px 1px 0 var(--shade);
	--btn-in: inset 1px 1px 1px 0 var(--shade), inset -1px -1px 1px 0 var(--shine);

	/* big shadows */
	--bulge: 6px 0 6px 0 var(--shade), -6px 0 6px 0 var(--shine),
		inset -6px 0 6px 0 var(--shade), inset 6px 0 6px 0 var(--shine);
	--dent: 6px 0 6px 0 var(--shine), -6px 0 6px 0 var(--shade),
		inset -6px 0 6px 0 var(--shine), inset 6px 0 6px 0 var(--shade);
}

.bulge {
	cursor: pointer;
	border: none;
	padding: 10px 10px;
	box-shadow: var(--bulge);
}

.bulge:active {
	outline: none;
	box-shadow: var(--dent);
	transform: scale(0.9);
}

.bulge:focus {
	outline: none;
}

/*******************************************
                  Header
 *******************************************/

.header-bg {
	background: var(--bg-main);
	box-shadow: inset 0 -4px 4px 0 var(--shade);
}

/* --------------- Header button --------------- */

.header-btn {
	border-radius: 50%;
}

.header-btn img {
	height: calc(16px + 2vmin);
	border-radius: 50%;
}

/* --------------- Main bar --------------- */

.headline h1 {
	padding: 12px 20px;
	border-radius: 100px;

	color: #333;
	font-size: calc(6px + 2vmin);
	font-weight: 500;
}

header.full-width .headline {
	cursor: pointer;
}

header:not(.full-width) .headline-full-width {
	display: none;
}

header.full-width .headline-split-width {
	display: none;
}

/* --------------- Nav bar --------------- */

.nav-btn {
	border: none;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: var(--btn-out);

	margin: 0 6px;
	padding: 12px calc(12px + 0.5vmin);
	font-size: calc(14px + 0.5vmin);

	color: #555;

	/* trying */
	border-radius: 100px;
	box-shadow: var(--bulge);
}

.nav-btn:hover {
	color: black;
	text-decoration: underline;
}

.nav-btn:active {
	border: none;
	box-shadow: var(--btn-in);
	background-color: rgba(0, 0, 0, 0.01);
	transform: scale(0.98);

	/* trying */
	box-shadow: var(--dent);
	transform: scale(0.95);
}
.nav-btn:focus {
	outline: none;
	background-color: rgba(0, 0, 0, 0.01);
}

.nav-btn[data-catalog=""],
.nav-btn[data-catalog=""]:hover {
	color: #ccc;
	text-decoration: none;
	pointer-events: none;
	/* cursor: not-allowed; */
}

/* --------------- Options bar --------------- */

header select {
	display: inline-block;
	margin: 0 calc(8px + 0.5vmin);
	font-size: 16px;
}

select option:checked {
	font-weight: bold;
}

/*******************************************
                Main Content
 *******************************************/

.page {
	background-color: white;
}

.panel {
	color: white;
	text-shadow: 0 0 60px white, 0 0 4px black;
	background-color: black;
}
